{% extends 'base.html.twig' %}

{% block title %}Liste des vidéos{% endblock %}

{% block body %}
    <div class="container videos-container">
        <h1>Liste des vidéos ({{ videos.getTotalItemCount }})</h1>
        <div class="videos">
            {% for video in videos %}
                <div class="video">
                    <div class="img">

                        <a href="{{ video.url }}"><img src="{{ video.url|get_image }}" alt="{{ video.title }}"></a>
                    </div>
                    <div>
                        <h2>{{ video.title }}</h2>
                    </div>
                    {# <div> #}
                    {# {{ excerpt(video.description) }} #}
                    {# </div> #}
                </div>
            {% endfor %}
        </div>
        {{ knp_pagination_render(videos) }}
    </div>
{% endblock %}
