{% extends 'base.html.twig' %}

{% block title %}Liste des vidéos{% endblock %}

{% block body %}
    <div class="container videos-container">
        <h1>Liste des vidéos ({{ videos.getTotalItemCount }})</h1>
        <div class="videos">
            {% for video in videos %}
                <div class="video">
                    <div class="img">
                        <a href="{{ video.url }}"><img src="{{ video.url|get_image }}" alt="{{ video.title }}"
                                                       title="{{ video.description }}"></a>
                    </div>
                    <div>
                        <h2>{{ video.title }}</h2>
                    </div>
                    <div class="tags">
                        {% for tag in video.tags %}
                            <span style="background: {{ tag.bgcolor }};color: {{ tag.color }};"
                                  class="tag">{{ tag.name }}</span>
                        {% endfor %}
                    </div>
                    <div class="description">
                        {{ video.description|raw }}
                    </div>
                </div>
            {% endfor %}
        </div>
        {{ knp_pagination_render(videos) }}
    </div>
{% endblock %}
