{% extends 'base.html.twig' %}

{% block title %}Liste des vidéos{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('admin_video_index') }}
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Liste des vidéos ({{ videos|length }})</h1>

        <div class="grid-table">
            <div class="grid-table-header grid-table-created-at">Date de création</div>
            <div class="grid-table-header grid-table-title">Titre</div>
            <div class="grid-table-header grid-table-description">Description</div>
            <div class="grid-table-header grid-table-url">Url</div>
            <div class="grid-table-header grid-table-image">Image</div>
            <div class="grid-table-header grid-table-tags">Mots cléss</div>
            <div class="grid-table-header grid-table-updated-at">Date de modification</div>
            <div class="grid-table-header grid-table-actions">
                <a href="{{ path('app_video_new') }}" class="btn-blue grid-table-actions--header"
                   title="Ajouter une vidéo">
                    <img src="{{ asset('build/images/icons/add.png') }}" alt="Ajouter">
                </a>
            </div>
            {% for video in videos %}
                <div class="grid-table-created-at">{{ video.createdAt ? video.createdAt|date('d/m/y') : '' }}</div>
                <div class="grid-table-title">
                    <div class="title">
                        {{ video.title }}
                    </div>
                    <div class="description">
                        {{ video.description }}
                    </div>
                </div>
                <div class="grid-table-description">{{ video.description }}</div>
                <div class="grid-table-url">{{ video.url }}</div>
                <div class="grid-table-image"><img src="{{ video.url|get_image }}" alt="{{ video.title }}"></div>
                <div class="grid-table-tags">
                    {% for tag in video.tags %}
                        <span style="background: {{ tag.bgcolor }};color: {{ tag.color }};"
                              class="tag">{{ tag.name }}</span>
                    {% endfor %}
                </div>
                <div class="grid-table-updated-at">{{ video.updatedAt ? video.updatedAt|date('d/m/y') : '' }}</div>
                <div class="grid-table-actions">
                    <a href="{{ path('app_video_edit', {'id': video.id}) }}" class="btn-green" title="Modifier">
                        <img src="{{ asset('build/images/icons/edit.png') }}" alt="Modifier">
                    </a>
                    <form method="post" action="{{ path('app_video_delete', {'id': video.id}) }}"
                          onsubmit="return confirm('Êtes-vous sûr de bien vouloir supprimer cette vidéo?');">
                        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ video.id) }}">
                        <button class="btn-red" title="Supprimer">
                            <img src="{{ asset('build/images/icons/delete.png') }}" alt="Supprimer">
                        </button>
                    </form>
                </div>
            {% else %}
                    <div class="grid-table-title">Aucune vidéo trouvé</div>
                    <div class="grid-table-description"></div>
                    <div class="grid-table-url"></div>
                    <div class="grid-table-image"></div>
                    <div class="grid-table-tags"></div>
                    <div class="grid-table-created-at"></div>
                    <div class="grid-table-updated-at"></div>
                    <div class="grid-table-actions"></div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
