{% extends 'base.html.twig' %}

{% block title %}Liste des vidéos{% endblock %}

{% block body %}
    <div class="container videos-index-container">
        <h1>Liste des vidéos</h1>

        <div class="grid-table">
            <div class="grid-table-header grid-table-title">Titre</div>
            <div class="grid-table-header grid-table-description">Description</div>
            <div class="grid-table-header grid-table-url">Url</div>
            <div class="grid-table-header grid-table-image">Image</div>
            <div class="grid-table-header grid-table-created-at">Date de création</div>
            <div class="grid-table-header grid-table-updated-at">Date de modification</div>
            <div class="grid-table-header grid-table-actions"><a href="{{ path('app_video_new') }}" class="btn-blue">Nouvelle vidéo</a></div>
            {% for video in videos %}
                <div class="grid-table-title">{{ video.title }}</div>
                <div class="grid-table-description">{{ video.description }}</div>
                <div class="grid-table-url">{{ video.url }}</div>
                <div class="grid-table-image"><img src="{{ video.image }}" alt="{{ video.title }}"></div>
                <div class="grid-table-created-at">{{ video.createdAt ? video.createdAt|date('m/d/y') : '' }}</div>
                <div class="grid-table-updated-at">{{ video.updatedAt ? video.updatedAt|date('m/d/y') : '' }}</div>
                <div class="grid-table-actions">
                    <a href="{{ path('app_video_edit', {'id': video.id}) }}" class="btn-green">Éditer</a>
                    <a href="{{ path('app_video_show', {'id': video.id}) }}" class="btn-red">Supprimer</a>
                </div>
            {% else %}
                <div>
                    <div>no records found</div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
