{% extends 'base.html.twig' %}

{% block title %}Nouvelle vidéo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('form') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('textarea') }}
    <script>
        window.onload = () => {
            const select = document.querySelector('#video_tags')
            console.log(select)
            select.size = select.length
        }
    </script>
{% endblock %}

{% block body %}
    <div class="container form-container">
        <h1>Ajouter une nouvelle vidéo</h1>

        {{ include('admin/video/_form.html.twig') }}

        <a href="{{ path('app_video_index') }}" class="btn-blue back">Revenir à la liste</a>
    </div>
{% endblock %}
