{% if pageCount > 1 %}
    <div class="pagination">
        {% if previous is defined %}
            <div class="pagination-item">
                <a class="pagination-link" rel="prev" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><</a>
            </div>
        {% else %}
            <div class="pagination-item disabled">
                <span class="pagination-link"><</span>
            </div>
        {% endif %}

        {% if startPage > 1 %}
            <div class="pagination-item">
                <a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): 1})) }}">1</a>
            </div>
            {% if startPage == 3 %}
                <div class="pagination-item">
                    <a class="pagination-link" href="{{ path(route, query|merge({(pageParameterName): 2})) }}">2</a>
                </div>
            {% elseif startPage != 2 %}
                <div class="pagination-item disabled">
                    <span class="pagination-link">&hellip;</span>
                </div>
            {% endif %}
        {% endif %}

        {% for page in pagesInRange %}
            {% if page != current %}
                <div class="pagination-item">
                    <a class="pagination-link"
                       href="{{ path(route, query|merge({(pageParameterName): page})) }}">{{ page }}</a>
                </div>
            {% else %}
                <div class="pagination-item active">
                    <span class="pagination-link">{{ page }}</span>
                </div>
            {% endif %}

        {% endfor %}

        {% if pageCount > endPage %}
            {% if pageCount > (endPage + 1) %}
                {% if pageCount > (endPage + 2) %}
                    <div class="pagination-item disabled">
                        <span class="pagination-link">&hellip;</span>
                    </div>
                {% else %}
                    <div class="pagination-item">
                        <a class="pagination-link"
                           href="{{ path(route, query|merge({(pageParameterName): (pageCount - 1)})) }}">{{ pageCount -1 }}</a>
                    </div>
                {% endif %}
            {% endif %}
            <div class="pagination-item">
                <a class="pagination-link"
                   href="{{ path(route, query|merge({(pageParameterName): pageCount})) }}">{{ pageCount }}</a>
            </div>
        {% endif %}

        {% if next is defined %}
            <div class="pagination-item">
                <a class="pagination-link" rel="next"
                   href="{{ path(route, query|merge({(pageParameterName): next})) }}">></a>
            </div>
        {% else %}
            <div class="pagination-item disabled">
                <span class="pagination-link">>></span>
            </div>
        {% endif %}
    </div>
{% endif %}
